main{
  background-color:lightblue;
   border: 5px solid black;
   width:100%;
}


.lock{
  text-align:center;
  grid-area:locks;
  background-color:white;
  justify-content: center;
}

.lock:hover{
  background-color:black;
  color:white;
  
}

#date-div{
  font-size: 2em;
  font-family:arial;
  
  position:relative;
  right:auto;
  left:10%;
  
  color:darkgreen;
 
  display: grid;
  
  grid-row-gap: 0%;
  grid-column-gap: 0%;
  
  grid-template-rows: 50% 20%;
  grid-template-columns: 45% 20%;
  
  grid-template-areas:
    'hours minute'
    'hours date';
}

#hour{
  font-size:5em;
  grid-area: hours;
  color:black;
  justify-self: end;
  margin: 20px;
}

#minutes{
  font-size:2em;
  grid-area: minute;
  text-align: left;
  align-self: end;
  color:blue;
  margin: 0%;
  
}

#date{
  font-size:0.7em;
  grid-area: date;
  color: darkred;
  justify-self: start;
  grid-row-start: 2;
  margin:0%;
}

#login{
  text-align:center;
  position:relative;
  left: auto;
  right:auto;
  bottom:350px;
  
  border:solid 2px;
  font-size: 2em;
  margin-left:20%;
  margin-right:20%;
  padding:0px;

  background-color:lightgrey;
}

#unlocked{
  font-size:180px;
  font-family:impact;
  color:yellow;
  
  position:relative;
  text-align: center;
  bottom:490px;
  
  
}

@media only screen and (max-width: 600px){
  main{
    font-size:0.9em;
  }
  input{
    width:50%;
  }
  
  #login{
     margin-left:15%;
     margin-right:15%;
  }
  
  #unlocked{
    font-size:90px;
  }
  
}
